<div
	class="modal-container"
	[style.visibility]="modalState().isOpen ? 'visible' : 'hidden'"
	[class.open]="modalState().animation === 'open'"
	[class.close]="modalState().animation === 'close'"
	[class.with-overlay]="modalState().withOverlay">
	<div
		class="modal-component"
		[style.visibility]="modalState().isOpen ? 'visible' : 'hidden'"
		[class.open]="modalState().animation === 'open'"
		[class.close]="modalState().animation === 'close'">
		<ng-container
			[ngComponentOutlet]="activeModal"
			[ngComponentOutletInputs]="modalState().data">
		</ng-container>
	</div>
</div>
